{% extends 'registration/base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block title %}{% block title-meta %}
    
{% endblock %}{% endblock %}

{% block main %}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title mb-0 float-left">افزودن مقاله</h3>
        </div>
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="row" style="padding: 10px;">
                <div class="col-6">
                    {{form.title|as_crispy_field}}
    
                </div>
                <div class="col-6">
                    {{form.slug|as_crispy_field}}
                </div>
                <div class="col-12">
                    {{form.description|as_crispy_field}}
                </div>
                <div class="col-6">
                    {{form.category|as_crispy_field}}
                </div>
                <div class="col-6">
                    {{form.thumbnail|as_crispy_field}}
                    {{form.published|as_crispy_field}}
                </div>
                <div class="col-6">
                    {{form.published|as_crispy_field}}
                </div>
                {% if user.is_superuser %}
                <div class="col-6">
                    {{form.author|as_crispy_field}}
                </div>
                <div class="col-6">
                    {{form.status|as_crispy_field}}
                </div>
                {% else %}
                    <div id="div_id_status" class="mb-3">
                        <label for="id_status" class="form-label requiredField">
                            <span class="asteriskField">وضعیت</span>
                        </label> 
                        <select name="status" class="select form-select" required="" id="id_status">
                            <option value="" selected="">---------</option>
                            <option value="d">پیش نویس</option>
                            <option value="i">ارسال برای ادمین</option>  
                        </select>                                                                                                                                                    
                    </div>
                {% endif %}
                <div class="col-6">
                    {{form.is_special|as_crispy_field}}
                </div>
            </div>
            <button type="submit" class="btn btn-success">ارسال مقاله</button>
            {% if request.user.is_superuser and request.resolver_match.kwargs.pk %}
            <a href="{% url 'account:article_delete' 
            request.resolver_match.kwargs.pk %}" class="btn 
            btn-danger">حذف</a>
            {% endif %}
        </form>
    </div>
{% endblock %}